@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    font-family: 'Ropa Sans';
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    box-sizing: border-box;
}

html {
    background-color: #e5e5e5;
}

.geral {
    width: 697px;
    height: 1264px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #ffffff;
}

.header {
    display: flex;
    color: #777777;
    font-size: 20px;
    width: 697px;
    height: 49px;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding-left: 44.5px;
}

.text1 p{
   font-size: 10px; 
   margin: 0;
   margin-left: 10px;
}

.vector {
    margin-left: 450px;    
}

.box1 {
    display: flex;
    width: 608px;
    height: 259px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.box2,
.box3 {
    display: flex;
    width: 256px;
    height: 242px;
    margin:auto;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    }

a {
    font-size: 25px;
    line-height: 27px;
    padding: 5px;
    color: #888888;
   
}

span {
    width: 56px;
    height: 21px;
    border-radius: 20px;
    margin-left:115px;
    margin-top: 5px;
    color: white;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    background-color: #51D275;
     
}

.box3 span{
    background-color: orange;
}

p {
    text-align: justify;
    font-size: 10px;
    margin: 10px;
  
}

.box4 {
    display: flex;
    width: 266px;
    height: 33px;
    margin-top: 45px;
    margin-bottom: 13px; 
    margin-left: auto;
    margin-right: auto;
   
}

.tittle {
    display: flex;
    color: #888888;
    font-size: 25px;
    line-height: 27px;
    margin: auto;  
}

.box5,
.box6,
.box7 {
    display: flex;
    width: 608px;
    height: 80px;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.5;
    transition: all .3s;
    }

.box5:hover,
.box6:hover,
.box7:hover{
    opacity: 1;
    margin-top: -1px;

}

.text {
    position: absolute;
    font-size: 25px;
    line-height: 27px;
    margin-top: 27.5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    
}

footer {
    display: flex;
    background-color: #333333;
    width: 697px;
    height:243px; 

}

.map img{
    margin-left: 48px;
    margin-top:40px;
    border-radius: 19px;
}

.text2 {
    font-size: 12px;
    color:white;
    margin-top:30px;
    margin-left: 150px;
}

.midias {
    display: flex;
    margin: 5px;
    width: 20px;
    height: 20px; 
}
